@import "tailwindcss";

@font-face {
  font-family: PeckhamPress;
  src: local("PeckhamPress"), url("./assets/fonts/PeckhamPress.ttf");
}

@theme {
  --font-peckham: PeckhamPress, "sans-serif";
}

body {
  background-color: #fcd612;
}
